<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Associate UE to Block</title></head>
<body>
<h2>Associate Teaching Unit to Knowledge Block</h2>

<form th:action="@{'/curriculum/' + ${curriculumId} + '/add-association'}" method="post">
    <label>UE Code: <input type="text" name="teachingUnitCode"/></label><br/>
    <label>BCC Code: <input type="text" name="blockCode"/></label><br/>
    <label>Coefficient: <input type="number" step="0.1" name="coefficient"/></label><br/>
    <button type="submit">Associate</button>
</form>

<a th:href="@{'/curriculum/' + ${curriculumId}}">← Back</a>
</body>
</html>
