<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Teaching Unit</title></head>
<body>
<h2>Add Teaching Unit</h2>

<form th:action="@{'/curriculum/' + ${curriculumId} + '/add-unit'}" method="post">
    <label>Code: <input type="text" name="code"/></label><br/>
    <label>Label: <input type="text" name="label"/></label><br/>
    <label>ECTS: <input type="number" step="0.1" name="ects"/></label><br/>
    <label>Heures de travail: <input type="number" step="1" name="workloadHours"/></label><br/>
    <button type="submit">Ajouter</button>
</form>
rm .idea/workspace.xml

<a th:href="@{'/curriculum/' + ${curriculumId}}">← Retour</a>
</body>
</html>
